:root{

--size: 350px;

/* boje */
--drama:#ff6b6b;
--comedy:#4ecdc4;
--action:#1a73e8;
--doc:#ffd166;
--horror:#9b5de5;
--other:#adb5bd;

}

/* osnovni stil */

body{
font-family:Arial;
background:#f5f6fa;
text-align:center;
margin:0;
padding:0;
}



/* layout */

.chart-wrapper{

display:flex;
justify-content:center;
align-items:center;
gap:50px;
flex-wrap:wrap;

}

/* pie chart */

.pie-chart{

width:var(--size);
height:var(--size);

border-radius:50%;

background:

conic-gradient(

var(--drama) 0% 35%,
var(--comedy) 35% 60%,
var(--action) 60% 75%,
var(--doc) 75% 85%,
var(--horror) 85% 93%,
var(--other) 93% 100%

);

box-shadow:0 10px 25px rgba(0,0,0,0.2);

animation:appear 1.5s ease;

}

/* animacija */

@keyframes appear{

from{
transform:scale(0);
}

to{
transform:scale(1);
}

}

/* legenda */

.legend{
margin-right:40px;
list-style:none;
padding:0;
font-size:16px;
}

.legend li{

display:flex;
align-items:center;
margin:10px 0;
gap:10px;

}

/* kvadrati */

.legend span{

width:20px;
height:20px;
display:inline-block;
border-radius:4px;

}

.drama{background:var(--drama);}
.comedy{background:var(--comedy);}
.action{background:var(--action);}
.doc{background:var(--doc);}
.horror{background:var(--horror);}
.other{background:var(--other);}

/* hover efekt */

.legend li:hover{
transform:scale(1.05);

}

/* responsive */

@media (max-width:700px){

.chart-wrapper{
flex-direction:column;
}

.pie-chart{
width:250px;
height:250px;
}

}



